<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Stark Events App</title>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/vendor/bootstrap-theme.min.css">

        <link rel="stylesheet" href="assets/css/style.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

        <!--<base href="/"> -->

    </head>
    <body ng-app='eventsApp'>
  
        <h1>Hi! This is Your Angular Application Boilerplate. 3</h1>
        <a href="#/add-event">add event</a><br>
        <a href="#/event-list">event list</a><br>
 
         <div ng-view></div> 
         <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 

         <br>This is a test for a flexible map directive<br>
        <div ng-controller="EventDetailsController"> 
        <form name="location">
            <label>
                Lon:
               <input type="number" name="lng" ng-model="map.lng">
            </label>
            <label>
                Lat:
               <input type="number" name="lat" ng-model="map.lat">
            </label>
        </form>

        <make-map map="map"></make-map>
        </div> -->

         <div ng-view></div>


        <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script> 
        <script src="assets/js/vendor/angular.min.js"></script> 
        <script src="assets/js/vendor/angular-route.min.js"></script>
        <script src="assets/js/vendor/angular-route.js"></script>

        <script src="app/components/auth/init.js"></script>
        <script src="app/components/auth/firebase.service.js"></script>
        <script src="app/components/auth/auth.service.js"></script>
        <script src="app/components/auth/login.directive.js"></script>

        <script src="app/components/backend/init.js"></script>
        <script src="app/components/backend/event.factory.js"></script>
        <script src="app/components/backend/category.factory.js"></script>
        <script src="app/components/backend/admin.factory.js"></script>


        <script src="app/components/list-events/init.js"></script>
        <script src="app/components/list-events/list-event-controller.js"></script> 
        <script src="app/components/list-events/directive-list-event.js"></script>
        
        <script src="app/components/add-event/init.js"></script>
        <script src="app/components/add-event/add-event.js"></script>
        <script src="app/components/event/directive-event.js"></script>

        <script src="app/components/edit-event/init.js"></script>
        <script src="app/components/edit-event/edit-event.js"></script>

        <script src="app/components/eventdetails/event-details-controller.js"></script>

        <!--try map directive -->
        <script src="app/components/map/directive-map.js"></script>


        <script src="app/app.js"></script>
    </body>
</html>
