    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img ng-src="{{event.image_url}}" class="img-responsive" />
            </div>
        </div><br>
        <div class="row">
            <div >
                <div class="col-md-9" id="eventdetails-description">
                    <h1>{{::event.name}}</h1>
                    <p>{{event.description}}</p>
                </div>
            </div>

            <div class="col-md-3 panel panel-default" id="eventdetails-address">
                {{event.venue}}<br>
                {{event.city}}<br><br>

                

                <br>
            </div>

            <!-- try a flexible directive -->
           




        </div>
    </div>